<div class="animate__animated animate__fadeIn animate__faster">
    <h2>Por Capital</h2>
<hr>
<div class="row">
    <div class="col">
        <app-pais-imput (onEnter)="buscar($event)" (onDebounce)="sugerencias()" [placeholder]="'Buscar el pais por Capital...'"/>
    </div>
</div>
<hr>
</div>

@if(hayError){
    <div class="alert alert-danger">
        No se encontro nada con el termino {{termino}}
    </div>
}
@if(countries.length > 0){
    <div class="row">
        <div class="col">
            <app-pais-tabla [pais]="countries"/>
        </div>
    </div>
}